In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 20.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 19.3 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://azqiafattimah:koreaselatan1003@cluster0.8sehi.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [ ]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [ ]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}

In [ ]:
# Latihan
from pymongo import MongoClient
from pprint import pprint

# Koneksi ke MongoDB server
client = MongoClient("mongodb+srv://azqiafattimah:koreaselatan1003@cluster0.8sehi.mongodb.net/'")
db = client['mydatabase']

# Membuat koleksi baru bernama "products"
products_collection = db['products']

# Data produk
product_data = [
    {"name": "Laptop A", "category": "Electronics", "price": 1000},
    {"name": "Laptop B", "category": "Electronics", "price": 1200},
    {"name": "Smartphone A", "category": "Electronics", "price": 800},
    {"name": "Smartphone B", "category": "Electronics", "price": 950},
    {"name": "Tablet A", "category": "Electronics", "price": 500},
    {"name": "Shirt A", "category": "Clothing", "price": 50},
    {"name": "Shirt B", "category": "Clothing", "price": 70},
    {"name": "Shoes A", "category": "Footwear", "price": 90},
    {"name": "Shoes B", "category": "Footwear", "price": 110},
    {"name": "Backpack A", "category": "Accessories", "price": 150}
]

# Masukkan data produk ke koleksi
products_collection.insert_many(product_data)

# Query untuk menemukan produk dengan harga di atas rata-rata
average_price = products_collection.aggregate([
    {"$group": {"_id": None, "averagePrice": {"$avg": "$price"}}}
]).next()['averagePrice']

expensive_products = products_collection.find({"price": {"$gt": average_price}})
print("Produk dengan harga di atas rata-rata:")
for product in expensive_products:
    pprint(product)

# Aggregation pipeline untuk menghitung total produk dalam setiap kategori
category_counts = products_collection.aggregate([
    {"$group": {"_id": "$category", "totalProducts": {"$sum": 1}}}
])

print("\nTotal produk dalam setiap kategori:")
for category in category_counts:
    pprint(category)

# Menutup koneksi
client.close()

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('675da3bd87ee85f3b864e9bd'),
 'category': 'Electronics',
 'name': 'Laptop A',
 'price': 1000}
{'_id': ObjectId('675da3bd87ee85f3b864e9be'),
 'category': 'Electronics',
 'name': 'Laptop B',
 'price': 1200}
{'_id': ObjectId('675da3bd87ee85f3b864e9bf'),
 'category': 'Electronics',
 'name': 'Smartphone A',
 'price': 800}
{'_id': ObjectId('675da3bd87ee85f3b864e9c0'),
 'category': 'Electronics',
 'name': 'Smartphone B',
 'price': 950}
{'_id': ObjectId('675da3bd87ee85f3b864e9c1'),
 'category': 'Electronics',
 'name': 'Tablet A',
 'price': 500}

Total produk dalam setiap kategori:
{'_id': 'Accessories', 'totalProducts': 1}
{'_id': 'Electronics', 'totalProducts': 5}
{'_id': 'Footwear', 'totalProducts': 2}
{'_id': 'Clothing', 'totalProducts': 2}

In [ ]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://azqiafattimah:koreaselatan1003@cluster0.8sehi.mongodb.net/')
db = client['company_db']
collection = db['employees']

# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen
pipeline_top_5 = [
    {"$sort": {"department": 1, "salary": -1}},  # Urutkan per departemen berdasarkan gaji (descending)
    {"$group": {
        "_id": "$department",
        "top_employees": {"$push": {"name": "$name", "salary": "$salary"}},
    }},
    {"$project": {
        "_id": 1,
        "top_5_employees": {"$slice": ["$top_employees", 5]}
    }}
]

print("5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:")
for result in collection.aggregate(pipeline_top_5):
    print(result)

# Tugas 2: Hapus karyawan yang berusia di bawah 25 tahun
query_delete_under_25 = {"age": {"$lt": 25}}
result_delete = collection.delete_many(query_delete_under_25)
print(f"Jumlah karyawan yang dihapus (usia < 25): {result_delete.deleted_count}")

# Tugas 3: Laporan total gaji per departemen dan rata-rata umur karyawan
pipeline_salary_age_report = [
    {"$group": {
        "_id": "$department",
        "total_salary": {"$sum": "$salary"},
        "average_age": {"$avg": "$age"}
    }}
]

print("\nLaporan Total Gaji dan Rata-rata Umur per Departemen:")
for result in collection.aggregate(pipeline_salary_age_report):
    print(result)

# Catatan: Pastikan Anda memiliki data yang sesuai di dalam koleksi 'employees'.

5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:
{'_id': 'Finance', 'top_5_employees': [{'name': 'Alice', 'salary': 4500}]}
Jumlah karyawan yang dihapus (usia < 25): 0

Laporan Total Gaji dan Rata-rata Umur per Departemen:
{'_id': 'Finance', 'total_salary': 4500, 'average_age': 29.0}